name: Trigger auto deployment for web-personalmappe

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/web-personalmappe-AutoDeployTrigger-27007562-4bfd-49c9-8ce9-ed1bd2cc6d6e.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.WEBPERSONALMAPPE_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.WEBPERSONALMAPPE_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.WEBPERSONALMAPPE_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: acrpersonalmappe.azurecr.io
          registryUsername: ${{ secrets.WEBPERSONALMAPPE_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.WEBPERSONALMAPPE_REGISTRY_PASSWORD }}
          containerAppName: web-personalmappe
          resourceGroup: rg-personalmappe
          imageToBuild: acrpersonalmappe.azurecr.io/web-personalmappe:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


